<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Productos</title>
</head>
<body>
	<div>
		<h1>Página principal</h1>
		<ul>
			<li>
				<a href="/product">Agregar productos</a>
			</li>
			<li>
				<a href="/inventory">Inventario</a>
			</li>
			<li>
				<a href="/api">Api</a>
			</li>
			<li>
				<a href="/dataTable">DataTable</a>
			</li>


		</ul>
	</div>
</body>
</html>